* {
    color: white;
    font-family: sans-serif;
   text-shadow: 0px 2px 4px #000000;
}

p#buttons > * {
   display: inline;
}

p#buttons:hover > * {
    filter: brightness(0.4);
}

p#buttons:hover > *:hover {
    filter: none;
}

span.marquee {
  animation: marquee 5s linear infinite;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;   
}

@keyframes marquee {
      0% {
        transform: translate(0%, 0);
    }    
    50% {
        transform: translate(-100%, 0);
    }
    50.001% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}


span.blink {
    animation: blink 2s linear infinite;
}

@keyframes blink {
  0% { color: rgba(0, 0, 0, 0); }
  50% { color: inherit; }
  100% { color: rgba(0, 0, 0, 0); }
}

.button {
    border-radius:15%/25%;
    text-shadow: 1px 1px 2px black;
    padding: 1%;
    border: 1.5px solid #7a7a7a;
box-shadow: 0px 7px 14px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 7px 14px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 14px -8px rgba(0,0,0,0.75);
    background: #f2f2f2;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.button:hover {
    background: #d4d4d4;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.button.primary {
    border: 1.5px solid #80c217;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.button.primary:hover {
    border: 1.5px solid #80c217;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9ef91f+0,a2f931+50,80de04+51,79ce02+100 */
background: linear-gradient(to bottom,  #9ef91f 0%,#a2f931 50%,#80de04 51%,#79ce02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


