* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    background: linear-gradient(to top, #2255ff, #0099ff);
    padding-bottom: 10em;
}

body > main {
    width: 50%;
    margin: auto;
    height: 25em;
    margin-bottom: 10em;
}


body > main > img {
    width: 100%;
    display: block;
}

main > section {
    height: 100%;
}

main > section > main {
    background-color: #ffffff;
    background-image:url("./texture.png");
    background-size: 10%,10%;
    width: 75%;
    height: 100%;
    display: inline-block;
}

section > main > iframe {
    width: 100%;
    height: 100%;
}

section > aside {

      float: right;
      height: 100%;
    width: 25%;
background-color: #d8d8d8;
background-image:url("./texture.png")
}

aside > p {
    color: white;
     background: linear-gradient(to top, #2255ff, #0099ff);
}

aside > ul {
    list-style: none;
}

aside > ul > li {
     background-color: #d8d8d8;
  box-shadow: #000000cc 0px 0px 2px;
}

aside > ul > li > a  {
    text-decoration: none;
    color: rgb(0, 0, 0);
}