* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
    vertical-align: baseline;
    /* I love border-box */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background:linear-gradient(to bottom,  #5462ff, #333366);
    padding-bottom: 10em;

}

body > main {
    width: 800px;
    margin: auto;
    margin-bottom: 10em;
}


body > main > img {
    width: 100%;
    display: block;
}

 section {
    width: 800px;
        position: relative;
 }

main > section {
    background-color: #d6d6d6;
    background-repeat: repeat;
    background-image: url(./texture.png);
    background-size: 10% 10%;
}

h1,h2,nav {
    color: rgba(255,255,255,0.9);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    box-shadow: #000000cc 0px 0px 10px;
}

nav {
    text-align: center;
}

nav > a {
        color: rgba(255,255,255,0.9);
text-decoration: none;
margin-left: 1em;
}

aside.box {
    border: 1px solid #9c9c9c;
    margin: 0.5em;
    box-shadow: #000000cc 0px 0px 2px;
   background-color: white;
   width: fit-content;
}

aside.box >label {
    background: linear-gradient(to bottom, #dedede 0%, #8d8d8d 95%,#747474 96%,#ffffff 100% );
    color: rgb(0, 0, 0);
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
   display: block;
   text-align: center;
    box-shadow: #000000cc 0px 0px 10px;
    text-shadow: #ffffff 1px 1px 0px;
}


aside.box > div.content {
    padding: 1em;
    display: inline-block;
    width: min-content;
    overflow-y: scroll;
    background-color: white;
}

dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: dlgfade 0.1s linear;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(1vh);
    /* IE hack*/
    display: none;
}

dialog[open] {
    display: unset;
}

dialog > h1 {
    color: white;
    position: fixed;
    top: 5vh;
    left: 12.5vw;
    font-size: 5vh;
    animation: dlgfade 0.4s linear;
}

dialog[open] > main {
    width: 100vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 75vh;
    position: fixed;
    top: 12.5vh;
    font-size: 3vh;
    align-content: center;
    justify-content: center;
    color: white;
    margin: auto;
    animation: dlglines 0.2s linear;
}

dialog > main > section {
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-content: center;
    animation: dlgfade 0.4s linear;
}


dialog > main > nav {
    width: 100vw;
    text-align: center;
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 15vh;
    animation: dlgfade 0.4s linear;
}

@keyframes dlglines {
    0% {
        position: fixed;
        top: 50vh;
        height: 0;
    }

    100% {
        position: fixed;
        top: 12.5vh;
    }
}

@keyframes dlgfade {
    0% {
       opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}


dialog > main > nav > a {
    margin-right: 1em;
      color: white;
    text-decoration: none;
}

section#Welcome {
    background-image: url("./wood.jpg");
    background-size: contain;

}

aside#music {
    z-index: 10;
    position: absolute;
    background-image: url("./glass.svg");
     background-size: cover;
             box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75),
            0px 0px 5px 0px rgba(255, 255, 255, 0.75) inset;
             border: white solid 1px;
               text-shadow: 
             white 5px 0px 10px,
              white -5px 0px 10px,
              white 0px 5px 10px,
               white 0px -5px 10px;
              border-radius: 10px 10px;
               padding: 5px;
               font-family: sans-serif;    
              color: black;

    transform: rotate(1deg);
    left: -200px;
    top:140px;
}

aside#music > iframe {
    border-radius: 10pxa;
}

section > table {
    margin: auto;
}

img#hammer {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 10;
    transform: rotate(-65deg);
    right: -100px;
    top:180px
}

td#letter {
    background-image: url("./letter.png");
    background-repeat: no-repeat;
    background-size: 400px 250px;
    width: 400px;
    height: 250px;
}

td#letter > p {
    transform: rotate(-1deg)translateX(20px) translateY(20px);
    padding: 0.25em;
    color: gray;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
    width: 370px;
}


td#addbtn{
    background-image: url("./buttonbg.png");
    background-repeat: no-repeat;
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
}

td#addbtn > div {
    width: 200px;
    position: relative;
    left: 50px;
    top: 90px;
}

section#howmade {
    background: linear-gradient(to top, #222222, #444444);
    color: yellowgreen;
}

section#howmade > main {
    width: fit-content;
    margin: auto;
}

section#howmade > main >  * {
    font-family: monospace;
    font-size: 20px;
    text-shadow: 0px 0px  5px lime;
}

div#creationscount {
    font-size: 50px;
     background: linear-gradient(to top, #222222, #444444);
     text-align: center;
    color: white;
}

td#creationsdesc {
    width: 200px;
    height: 200px;
    padding-left: 1em;
    background-image: url("./sticky.png");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    transform: rotate(2deg);
    padding: 1em;
    color:cornflowerblue;
    font-family:cursive;
    font-size: 20px;
    position: absolute;
}

ul#creationslist {
    list-style: decimal;
    font-style: italic;

}

ul#creationslist > li > * {
    font-style: normal;
}

#footer {
    background: repeating-linear-gradient(-45deg,
  #000000,
  #000000 40px,
  #ffcc00 40px,
  #ffcc00 80px
);
box-shadow: 0px 0px 10px #000000;
padding-bottom: 1em;
padding-top: 1em;
color: white;
text-align: center;
font-weight: bold;
}