body {
    background-color: black;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TF2Build';
    src: url('./TF2Build.ttf'); /* IE9 Compat Modes */
}

#container {
    max-width: 900px;
    margin: 0 auto;
    height: 500px;
}

#header {
    width: 100%;
    background-color: #ffffff;
    /* header color here! */
    height: 150px;
    background-size: 100%;
    color: #0099ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

aside {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100%;
}

aside#left {
    float: left;
    background-color:#f5e7de;
}

aside#right {
    scroll-behavior: smooth;
    overflow-y: scroll;
    float: right;
    background-color:#f5e7de;
}


aside#left > ul {
    text-decoration: none;
    list-style: none;
    text-align: center;
    height: max-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside#left > ul > li {
    padding: 4px;
    background-image: url("./button-fill.svg");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    border-radius: 4px;
    margin: 2px;
}

aside#left > ul > li:hover {
    background-image: url("./button-fill-sel.svg");
}

aside#left > ul > li > a {
    text-decoration: none;
    font-family: 'TF2Build';
    display: inline-block;
    color: black;
}

aside#left > ul > li:hover > a {
    color: white;
}

aside#left > div#Music_Player {
    padding: 4px;
    font-family: 'TF2Build';
    background-image: url("./button-fill.svg");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    border-radius: 4px;
    margin: 2px;
}

main {
    display: inline;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 100%;
}

main > iframe#content {
    background-color:#f5e7de;
    display: inline;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 600px;
}

h2 {
    color: black;
    font-family: sans-serif;
}