:root {
    --site-color-1: rgb(40, 59, 89);
    --site-color-2: rgb(99, 150, 205);
    --bg-color-1: rgb(40, 40, 40);
    --bg-color-2: rgb(50, 50, 50);
    --bg-color-3: rgb(61, 61, 61);
    --site-reflect-color: rgba(255, 255, 255, 0.50);
    --text-color-1: rgb(255,255,255);
    --text-color-2: rgb(255,255,255);
    --text-font: Arial, Helvetica, sans-serif;
    --text-size: 10pt;
}

body {
     background-image: url("./bg.png");
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

*.site-text {
    color: var(--text-color-1);
    font-family: var(--text-font);
}

a.button.site-colors {
    --button-text-color: var(--text-color-1);
    --button-color-1: var(--site-color-1);
    --button-color-2: var(--site-color-2);
}

a.button.linear-gradient {
    background: var(--button-color-1);
    background: linear-gradient(0deg, var(--button-color-1) 0%, var(--button-color-2) 100%);
}

a.button.shadow {
    box-shadow: attr(shadow-h) attr(shadow-v) attr(shadow-blur) rgb(0,0,0);
}

a.button:hover {
    filter: brightness(110%);
}

a.button {
    font-family: var(--text-font);
    display: block;
    width: max-content;
    overflow: hidden;
    position: relative;
    height:max-content;
    box-sizing: border-box;
    padding: 0;
}

a.button > label {
    color: var(--button-text-color);
    font-size: var(--text-size);
}

div.reflection {
   width: 120%;
   height: 50%;
   position: absolute;
   left:0;
   right:0;
   top: 0;
   bottom: 1%;
}

div.reflection.gradient-linear {
    background: var(--site-reflect-color);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--site-reflect-color) 100%);
}

div.reflection.gradient-radial {
    background: var(--site-reflect-color);
    background: radial-gradient(0deg, rgba(0,0,0,0) 0%, var(--site-reflect-color) 100%);
}

div.reflection.gradientflipped-linear {
    background: var(--site-reflect-color);
    background: linear-gradient(0deg, var(--site-reflect-color) 0%, rgba(0,0,0,0) 100%);
}

div.reflection.solid {
    background: var(--site-reflect-color);
}

div.reflection.ellipse {
    clip-path: ellipse(120% 50%);
}

div.reflection.box {
    clip-path: view-box;
}

div.centercontent {
    height: 100%;
}


div.centercontent > div {
    background-image: url("./middle.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center top;
    width: fit-content;
    margin: auto;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    text-align:left;
    height: 100vh;
}

div.header {
    position: absolute;
    font-family: var(--text-font);
    width:100vw;
	text-align:middle;
    margin: 0;
}

div.header > div.headerContent {
    width:fit-content;
	text-align:left;
    margin:auto;
}

div.header > div.headerContent > p {
    color: var(--header-text-color);
}

div.header > div.headerContent > h1 {
    color: var(--header-text-color);
}

div.header > div.headerContent > h2 {
    color: var(--header-text-color);
}

div.header > div.headerContent > h3 {
    color: var(--header-text-color);
}

div.header > div.headerContent > h4 {
    color: var(--header-text-color);
}

div.header.site-colors {
    --header-text-color: var(--text-color-1);
    --header-color-1: var(--site-color-1);
    --header-color-2: var(--site-color-2);
}

div.header.linear-gradient-center {
    background: var(--button-color-1);
    background: linear-gradient(90deg, var(--header-color-1) 0%, var(--header-color-2) 50%, var(--header-color-1) 100%);
}

div.header.linear-gradient-top {
    background: var(--button-color-1);
    background: linear-gradient(0deg, var(--header-color-1) 0%, var(--header-color-2) 100%);
}

div.header.linear-gradient-bottom {
    background: var(--button-color-1);
    background: linear-gradient(180deg, var(--header-color-1) 0%, var(--header-color-2) 100%);
}

button.button.site-colors > div {
    --button-text-color: var(--text-color-1);
    --button-color-1: var(--site-color-1);
    --button-color-2: var(--site-color-2);
}

button.button.linear-gradient > div {
    background: var(--button-color-1);
    background: linear-gradient(0deg, var(--button-color-1) 0%, var(--button-color-2) 100%);
}

button.button.shadow {
    box-shadow: attr(shadow-h) attr(shadow-v) attr(shadow-blur) rgb(0,0,0);
}

button.button:hover {
    filter: brightness(110%);
}

button.button {
    font-family: var(--text-font);
    box-sizing: content-box;
    outline:0;
    padding:0;
    display: contents;
    width: fit-content;
    height:max-content;
}

button.button > div {
    position: relative;
    overflow: hidden;
    width: fit-content;
}

button.button > div > label {
    color: var(--button-text-color);
    font-size: var(--text-size);
    font-family: var(--text-font);
}

em.spoiler {
    background: var(--bg-color-1);
    background: linear-gradient(0deg, var(--bg-color-2) 0%, var(--bg-color-3) 100%);
    color: rgba(0, 0, 0, 0);
    font-style: normal;
}

em.spoiler:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color-1);
    font-style: normal;
}

div.container {
    border: 1px solid var(--site-color-2);
    width: fit-content;
    height: fit-content;
    background-color: var(--bg-color-2);
}

div.container > div.label > label {
    background-color: var(--site-color-2);
    color: var(--text-color-1);
    font-family: var(--text-font);
}

div.container > div.label {
    background-color: var(--site-color-2);
}

div.container > div {
    padding: 0.1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}