.grbox-lvl-1 {
    border-radius: 1cm;
    background-color: rgb(91, 91, 91);
}

.grbox-lvl-2 {
    border-radius: 1cm;
    background-color: rgb(107, 107, 107);
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.acsent {
    color: rgb(255, 255, 57);
}

body {
    text-align: center;
    background-color: rgb(55, 55, 55);
}